<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- DECLARE VIRTUAL TYPES -->

    <virtualType name="TrustMateOpinionsGrid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">trustmate_product_opinions</argument>
            <argument name="resourceModel" xsi:type="string">TrustMate\Opinions\Model\ResourceModel\ProductReview</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="opinions_grid_listing_data_source" xsi:type="string">TrustMateOpinionsGrid</item>
            </argument>
        </arguments>
    </type>

    <!-- END OF DECLARE VIRTUAL TYPES -->

    <!-- DECLARE PREFERENCES -->

    <preference for="Magento\Review\Block\Product\View\ListView" type="TrustMate\Opinions\Block\Product\View\ListView" />
    <preference for="TrustMate\Opinions\Api\Data\ProductReviewInterface" type="TrustMate\Opinions\Model\ProductReview"/>
    <preference for="TrustMate\Opinions\Api\Data\ProductReviewSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="TrustMate\Opinions\Api\ProductReviewRepositoryInterface" type="TrustMate\Opinions\Model\ProductReviewRepository"/>

    <!--  END OF DECLARE PREFERENCES -->

    <!-- DECLARE LOGGER -->

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="trustmate_import_opinions" xsi:type="object">TrustMate\Opinions\Console\Command\ImportReviews</item>
            </argument>
        </arguments>
    </type>

    <!-- DECLARE LOGGER -->

    <type name="TrustMate\Opinions\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="TrustMate\Opinions\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">TrustMateLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">TrustMate\Opinions\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="TrustMateLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">TrustMate\Opinions\Logger\Handler\InfoHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="TrustMate\Opinions\Observer\Checkout\Submit">
        <arguments>
            <argument name="logger" xsi:type="object">TrustMateLogger</argument>
        </arguments>
    </type>

    <type name="TrustMate\Opinions\Controller\Adminhtml\Order\Shipment\Save">
        <arguments>
            <argument name="logger" xsi:type="object">TrustMateLogger</argument>
        </arguments>
    </type>

    <!-- END OF DECLARE LOGGER -->

    <type name="Magento\Review\Model\ResourceModel\Review\Collection">
        <plugin name="trustmate_after_load_product_items_review_collection"
                type="TrustMate\Opinions\Plugin\Magento\Review\Collection"
                sortOrder="20" disabled="false"/>
    </type>

    <type name="Magento\Sales\Api\ShipOrderInterface">
        <plugin name="trustmate_after_create_shipment"
                type="TrustMate\Opinions\Plugin\Magento\Sales\Api\ShipOrder"
                sortOrder="20" disabled="false"/>
    </type>
</config>
