<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="TrustMate\Opinions\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="TrustMate\Opinions\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">TrustMateLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">TrustMate\Opinions\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="TrustMateOpinionsGrid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">trustmate_product_opinions</argument>
            <argument name="resourceModel" xsi:type="string">TrustMate\Opinions\Model\ResourceModel\ProductReview</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="opinions_grid_listing_data_source" xsi:type="string">TrustMateOpinionsGrid</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Review\Block\Product\Review" type="TrustMate\Opinions\Block\Product\Review" />
    <preference for="Magento\Review\Block\Product\ReviewRenderer" type="TrustMate\Opinions\Block\Product\ReviewRenderer" />
    <preference for="Magento\Review\Block\Product\View\ListView" type="TrustMate\Opinions\Block\Product\View\ListView" />
    <preference for="Magento\Review\Model\ResourceModel\Review" type="TrustMate\Opinions\Model\ResourceModel\Review" />

    <preference for="TrustMate\Opinions\Api\Data\ProductReviewInterface" type="TrustMate\Opinions\Model\ProductReview"/>
    <preference for="TrustMate\Opinions\Api\Data\ProductReviewSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="TrustMate\Opinions\Api\ProductReviewRepositoryInterface" type="TrustMate\Opinions\Model\ProductReviewRepository"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="trustmate_import_opinions" xsi:type="object">TrustMate\Opinions\Console\Command\ImportReviews</item>
            </argument>
        </arguments>
    </type>
</config>
