<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- DECLARE PREFERENCES -->

    <preference for="Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save"
                type="TrustMate\Opinions\Controller\Adminhtml\Order\Shipment\Save"/>

    <!-- END OF DECLARE PREFERENCES -->
</config>
