<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="trustmate" translate="label" sortOrder="10">
            <label>TrustMate</label>
        </tab>
        <section id="trustmate_opinions_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Reviews</label>
            <tab>trustmate</tab>
            <resource>TrustMate_Opinions::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>
                <field id="instruction" translate="label comment" type="note" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment><![CDATA[How to start? <br /><ol class='trustmate trustmate_instructions'><li><small>You must have an account at TrustMate. If you don't have an account - <a href='https://trustmate.io/register'>register</a>. </small></li><li><small>To link the TrustMate account to the Magento feedback module, paste your API key from the TrustMate panel - integrations page.</small></li></ol>]]></comment>
                </field>
                <field id="module_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shop reviews enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="products_opinions_enabled" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product reviews enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shop and product reviews require corresponding invitation configurations marked as automatic in TrustMate panel (enabled by default)</comment>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
                <field id="invitation_event" translate="label" type="select" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create invitation event</label>
                    <source_model>TrustMate\Opinions\Model\Config\Source\InvitationEvent</source_model>
                    <comment>Select the event when the invitation should be sent</comment>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <validate>required-entry</validate>
                    <label>API Key</label>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
                <field id="sandbox_mode" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox mode enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
                <field id="gtin_code" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GTIN attribute code</label>
                    <comment>Enter the attribute code that stores the GTIN code</comment>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
                <field id="mpn_code" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>MPN attribute code</label>
                    <comment>Enter the attribute code that stores the MPN code</comment>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
                <field id="fix_localid" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use product ID instead of SKU</label>
                    <comment>
                        Used only for backward compatibility with some module versions. Turn it on only if your
                        product local id in TrustMate panel already are non-SKUs.
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
                <field id="send_child" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send information about the product variant</label>
                    <comment>
                        WARNING!
                        Enabling this option will send information about the product variant, not about the parent product. For example, when ordering a blue product, information will be sent specifically about that blue product, not about the main product that contains variants.
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>TrustMate\Opinions\Block\Adminhtml\System\Config\ConfirmSwitch</frontend_model>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
